<h1 class="condensed">Welcome to<br />Hudson Forum</h1>
<h2><time>September 10, 2024</time></h2>
<address>
  IBM Thomas J. Watson Research Center<br />
  Yorktown Heights, New York
</address>
<strong>By invitation only</strong>

<style>
  h2 {
    margin-bottom: 0;
  }

  address {
    margin: 1.5rem 0;
  }

  strong {
    display: inline-block;
    font-weight: 600;
    margin-bottom: 3.5rem;
  }

  @media(min-width: 42rem) {
    address {
      margin: 2rem 0;
    }

    strong {
      margin-bottom: 4.5rem;
    }
  }
</style>
